*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;    
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/fondo_biblioteca.jpg);
    background-size: cover;

}

.greetingMsg {
    padding: 100px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}